.logo {
  color: #000000;
}

.web {
  color: #2196f3;
}

.nav-links a,
.nav-contacts a {
  color: #212121;
}

.nav-links :hover,
.nav-links :focus,
.nav-contacts :hover,
.nav-contacts :focus {
  color: #2196f3;
}
